#alarmtoggler, #lampToggler, #lampAutoToggler, #statusBtn {
	margin-left: 7%;
	margin-top: 200px;
	width:150px;
	display: inline-block;
}

#header {
	position: absolute;
	left: 30%;
	top: 200px;
	color: white;
	font-size: 4em;
}

#pin {
	position: absolute;
	left: 47%;
	top: 360px;
	text-align:center;
	background-color:grey;
	width:105px;
	margin-bottom: 15px !important;
}

body {
	background-color: grey;
}

#alarmState, #lampState, #lampAuto, #status {
  	width: 70px;
  	height: 70px;
	border-radius: 50%;
    	-webkit-border-radius: 50%;
    	-moz-border-radius: 50%;
	top: 30%;
	color:white;
	text-align:center;
	display: inline-block;
	margin-left:12%;
	margin-top:150px;
	vertical-align: middle;
}

.disable {
	background: lightgrey;
	color: black;
}

.alarm_off {
	background: black;
}

.alarm_on {
	background: red;
}

.hidden {
	display: none;
}

.circleText {
	margin-top: 15px;
}

input[type="button"]  {
	border-radius: 50%;
	height: 60px;
}
